<!DOCTYPE html>
<html>
  <head>
    <title>YouTube Report Generator</title>
    <script>
      function handleCredentialResponse(response) {
        console.log("called")
        var responsePayload = response.credential;
        console.log("response is", responsePayload);
        // Send the responsePayload to your server for further validation and to generate the report
        fetch('/process', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(responsePayload),
        })
          .then(function (response) {
            if (response.ok) {
              return response.blob();
            } else {
              throw new Error('Failed to generate the report');
            }
          })
          .then(function (blob) {
            // Create a temporary URL to download the report
            var url = URL.createObjectURL(blob);
            // Create a temporary link element
            var link = document.createElement('a');
            link.href = url;
            link.download = 'report.pdf';
            link.click();
          })
          .catch(function (error) {
            console.error(error);
            alert('Failed to generate the report. Please try again.');
          });
      }
    </script>
  </head>
  <body>
    <h1>YouTube Report Generator</h1>
    <div id="g_id_onload"
         data-client_id="147591993572-ogbg3b7d2h4271efsoqgah8bc8j6jrg0.apps.googleusercontent.com"
         data-callback="handleCredentialResponse">
    </div>
    <a href='/signin' >signin </a>
    <button onclick="google.accounts.id.prompt()">Sign in with Google</button>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script> 
  </body>
</html>
